In [64]:
import requests 
import json 
import warnings
warnings.filterwarnigs('ignore')

AttributeError: module 'warnings' has no attribute 'filterwarnigs'

In [57]:
import pandas as pd

In [58]:
list(range(1,23))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]

In [59]:
df_results_2022=pd.DataFrame()

for race in list (range(1,23)):
    url = 'http://ergast.com/api/f1/2022/{}/results.json'
    response=requests.get(url.format(race))
    content=json.loads(response.content)

df_results_2022=df_results_2022.append(pd.DataFrame(content['MRData']['RaceTable']['Races'][0]['Results']))

C:\Users\Jose Jorge\AppData\Local\Temp\ipykernel_2156\2081801956.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_results_2022=df_results_2022.append(pd.DataFrame(content['MRData']['RaceTable']['Races'][0]['Results']))

In [60]:
df_results_2022['Driver']=df_results_2022['Driver'].apply(lambda x: x['driverId'])
df_results_2022['Constructor']=df_results_2022['Constructor'].apply(lambda x: x['constructorId'])

In [61]:
df_results_2022['points']=df_results_2022['points'].astype(int)
df_results_2022['position']=df_results_2022['position'].astype(int)

In [63]:
df_results_2022.groupby(['Driver']).agg({'points':'sum','position':'min'}).sort_values(by='points',ascending =False)

                 points  position
Driver
max_verstappen       25         1
leclerc              18         2
perez                15         3
sainz                12         4
russell              10         5
norris                9         6
ocon                  6         7
stroll                4         8
ricciardo             2         9
vettel                1        10
tsunoda               0        11
albon                 0        13
alonso                0        20
mick_schumacher       0        16
latifi                0        19
kevin_magnussen       0        17
hamilton              0        18
gasly                 0        14
bottas                0        15
zhou                  0        12